.navbar {
    background-color: #000;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 200)
}

.logoContainer {
  display: flex; 
  justify-content: space-between;
  object-fit: cover;
  align-items: center;
}


.logoImage{
    max-height: 35px;
    width: auto;
    height: auto; 
    margin: 10px; 
}

.logoText{
    color: aliceblue;
    font-size: 1.125rem;
    font-weight: 600; 
    margin: 5px; 
}


.accesContainer {
    margin-left: auto;
    display: flex; 
}

.accesContainer button{
    background-color: rgb(238, 238, 237);
    border-radius: 2px;
    margin: 3px;
    color: black; 
}